#header {
    border-top: 10%;
    background-color: #20315A;
    border-radius: 5px;
    height: 200px;
    text-align: center;
}

.jumbotron h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;
}

p {
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

#jumboStyle {
    background-color: transparent;
    padding: 4px;

}
#searchPara {
    background-color: rgb(243, 239, 239); 
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 25px;

}
#inputStyle {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
    border: black solid 1px;
    padding-bottom: 10px;
}

#btnContainer{
    padding-top: 10px;
    padding-bottom: 10px;
}

#topArticles {
    max-width: 100%;
    font-size: 25px;
    margin: 30px;
    padding: 10px;
    background-color: rgb(243, 239, 239);;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: black solid 1px;
}
#articleContainer {
    background-color: white;

}

#footer {
    position: sticky;
    border-radius: 5px;
    border-radius: 5px;
    border: black solid 1px;
    text-align: center;
    max-width: 100%;

}
